
.box {
  width: auto;
  border: black;
  border-width: 10px;
  display: block;
}

.column {
  float: left;
  width: 48vh;
}

.column h1 {
  font-weight: bold;
}

.centered {
  text-align: center;
}

img {
  margin: 10px auto;
  width: 80%; 
  height: auto;
  display: block;
  border: solid 20px aquamarine;
}